language: perl6

os:
    - linux
    - osx

perl6:
    - latest
    - '2017.05'
    - '2017.04'

install:
    - curl -o libxlsxwriter.tar.gz https://codeload.github.com/jmcnamara/libxlsxwriter/tar.gz/RELEASE_${LIBXLSXWRITER_VERSION}
    - tar xzf libxlsxwriter.tar.gz
    - cd libxlsxwriter-RELEASE_${LIBXLSXWRITER_VERSION}
    - make
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then cp -R lib ~; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo cp lib/* /usr/lib; fi
    - cd ..

env:
    - LIBXLSXWRITER_VERSION="0.7.0"
